# Assessing the Impact of Daylight Savings Time on Driving Fatalities

- Anastasiades, Andrew
- Drozdzewicz, Peter
- Garcia, Viera
- Sperry, Taylor
- Surapanemi, Sindhura

### DEPENDENCIES

In [3]:
import pandas as pd #data manipulation
import os #Interoperability

### FILE PATHS

In [8]:
accident_csv = os.path.join("Resources", "accident.csv")

### IMPORT COMPLETE CSV

In [41]:
raw_df = pd.read_csv(accident_csv) #'LATITUDENAME', 'LONGITUDNAME', and 'RAIL' have mixed types
raw_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (40,42,69) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE,STATENAME,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERSONS,PERMVIT,PERNOTMVIT,...,HOSP_MN,HOSP_MNNAME,CF1,CF1NAME,CF2,CF2NAME,CF3,CF3NAME,FATALS,DRUNK_DR
0,1,Alabama,10001,2,2,0,0,3,3,0,...,27,27,0,None,0,None,0,None,1,1
1,1,Alabama,10002,2,2,0,0,2,2,0,...,99,Unknown EMS Hospital Arrival Time,0,None,0,None,0,None,1,0
2,1,Alabama,10003,3,3,0,0,4,4,0,...,5,5,14,"Motor Vehicle struck by falling cargo,or somet...",0,None,0,None,1,0
3,1,Alabama,10004,1,1,0,1,1,1,1,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,0
4,1,Alabama,10005,1,1,0,0,1,1,0,...,88,Not Applicable (Not Transported),0,None,0,None,0,None,1,1

### INSPECT COLUMNS AND SELECT RELEVANT

In [46]:
raw_df.columns

Index(['STATE', 'STATENAME', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL',
       'PEDS', 'PERSONS', 'PERMVIT', 'PERNOTMVIT', 'COUNTY', 'COUNTYNAME',
       'CITY', 'CITYNAME', 'DAY', 'DAYNAME', 'MONTH', 'MONTHNAME', 'YEAR',
       'DAY_WEEK', 'DAY_WEEKNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME',
       'NHS', 'NHSNAME', 'ROUTE', 'ROUTENAME', 'TWAY_ID', 'TWAY_ID2',
       'RUR_URB', 'RUR_URBNAME', 'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER',
       'RD_OWNERNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME',
       'LONGITUD', 'LONGITUDNAME', 'SP_JUR', 'SP_JURNAME', 'HARM_EV',
       'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME',
       'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'WRK_ZONE',
       'WRK_ZONENAME', 'REL_ROAD', 'REL_ROADNAME', 'LGT_COND', 'LGT_CONDNAME',
       'WEATHER1', 'WEATHER1NAME', 'WEATHER2', 'WEATHER2NAME', 'WEATHER',
       'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'RAIL', 'RAILNAME', 'NOT_HOUR',
       'NOT_HOURNAME', 'NOT_MIN', 'NOT_MINNAME', 'ARR_HOUR', 'ARR_HOURNAME',
       'ARR_MIN', 'ARR_MINNAME', 'HOSP_HR', 'HOSP_HRNAME', 'HOSP_MN',
       'HOSP_MNNAME', 'CF1', 'CF1NAME', 'CF2', 'CF2NAME', 'CF3', 'CF3NAME',
       'FATALS', 'DRUNK_DR'],
      dtype='object')

In [112]:
columns_to_keep = ['STATENAME', 'ST_CASE', 'COUNTYNAME',
       'CITYNAME', 'DAY', 'MONTHNAME', 'YEAR',
       'DAY_WEEKNAME', 'HOUR', 'HOURNAME', 'MINUTE', 'MINUTENAME', 'RUR_URBNAME',
       'FUNC_SYS', 'FUNC_SYSNAME', 'RD_OWNER',
       'RD_OWNERNAME', 'MILEPT', 'MILEPTNAME', 'LATITUDE', 'LATITUDENAME',
       'LONGITUD', 'LONGITUDNAME', 'SP_JUR', 'SP_JURNAME', 'HARM_EV',
       'HARM_EVNAME', 'MAN_COLL', 'MAN_COLLNAME', 'RELJCT1', 'RELJCT1NAME',
       'RELJCT2', 'RELJCT2NAME', 'TYP_INT', 'TYP_INTNAME', 'WRK_ZONE',
       'WRK_ZONENAME', 'REL_ROAD', 'REL_ROADNAME', 'LGT_CONDNAME', 
       'WEATHER', 'WEATHERNAME', 'SCH_BUS', 'SCH_BUSNAME', 'HOSP_HR', 'HOSP_HRNAME', 
       'FATALS', 'DRUNK_DR']
df = pd.read_csv(accident_csv, usecols=columns_to_keep)

In [114]:
df = df[df["DRUNK_DR"]==0] # EXCLUDE DRUNK DRIVERS
df[columns_to_keep[13]].value_counts()

Urban                                14025
Rural                                10706
Trafficway Not in State Inventory       60
Unknown                                 37
Not Reported                             5
Name: RUR_URBNAME, dtype: int64

In [101]:
df["FATALS"].value_counts()

1    23227
2     1358
3      192
4       42
5       10
7        2
8        1
6        1
Name: FATALS, dtype: int64

In [19]:
raw_df.columns[42]

'LONGITUDNAME'

In [38]:
raw_df.columns[69]

'RAILNAME'

In [21]:
raw_df['LATITUDENAME'].value_counts()

Reported as Unknown    54
Not Reported           14
28.35696111             3
28.75075                3
28.50268889             3
                       ..
40.67263056             1
30.246725               1
39.5949                 1
34.33158889             1
27.99526944             1
Name: LATITUDENAME, Length: 33006, dtype: int64

In [39]:
raw_df['RAILNAME'].value_counts()

Not Applicable    33127
352088W               2
254905C               1
331685V               1
721475H               1
                  ...
757162V               1
511759H               1
545186X               1
841883Y               1
794806U               1
Name: RAILNAME, Length: 117, dtype: int64

Reported as Unknown    54
Not Reported           14
-97.4767                3
-81.39688889            3
-81.36508889            3
                       ..
-85.1374                1
-121.8341806            1
-83.84375833            1
-81.79650556            1
-97.85160556            1
Name: LONGITUDNAME, Length: 33064, dtype: int64