# Assessing the Impact of Daylight Savings Time on Driving Fatalities

- Anastasiades, Andrew
- Drozdzewicz, Peter
- Garcia, Viera
- Sperry, Taylor
- Surapanemi, Sindhura

### DEPENDENCIES

In [3]:
import pandas as pd #data manipulation
import os #Interoperability

### FILE PATHS

In [8]:
accident_csv = os.path.join("Resources", "accident.csv")

### LOAD DATAFRAME

In [120]:
columns_to_keep = ['STATENAME', 'DAY', 'MONTH', 'LGT_CONDNAME', 'DRUNK_DR', 'WEATHERNAME', 'RUR_URBNAME']
df = pd.read_csv(accident_csv, usecols=columns_to_keep)
#
df = df[df["DRUNK_DR"]==0] # EXCLUDE DRUNK DRIVERS

Urban                                14025
Rural                                10706
Trafficway Not in State Inventory       60
Unknown                                 37
Not Reported                             5
Name: RUR_URBNAME, dtype: int64

In [101]:
df["FATALS"].value_counts()

1    23227
2     1358
3      192
4       42
5       10
7        2
8        1
6        1
Name: FATALS, dtype: int64

In [19]:
raw_df.columns[42]

'LONGITUDNAME'

In [38]:
raw_df.columns[69]

'RAILNAME'

In [21]:
raw_df['LATITUDENAME'].value_counts()

Reported as Unknown    54
Not Reported           14
28.35696111             3
28.75075                3
28.50268889             3
                       ..
40.67263056             1
30.246725               1
39.5949                 1
34.33158889             1
27.99526944             1
Name: LATITUDENAME, Length: 33006, dtype: int64

In [119]:
raw_df['STATENAME'].value_counts()

California              3316
Texas                   3294
Florida                 2950
Georgia                 1377
North Carolina          1284
Tennessee               1040
Ohio                    1039
Pennsylvania             990
Illinois                 938
South Carolina           922
Arizona                  910
Michigan                 902
New York                 876
Alabama                  856
Missouri                 818
Virginia                 774
Indiana                  751
Louisiana                681
Kentucky                 667
Oklahoma                 584
Mississippi              581
Colorado                 544
Wisconsin                526
New Jersey               525
Washington               494
Maryland                 484
Arkansas                 467
Oregon                   451
New Mexico               368
Kansas                   362
Minnesota                333
Massachusetts            321
Iowa                     313
Nevada                   285
West Virginia            247
Connecticut              233
Utah                     225
Nebraska                 212
Idaho                    201
Montana                  166
Maine                    143
Delaware                 122
Wyoming                  120
Hawaii                   102
North Dakota              91
New Hampshire             90
South Dakota              88
Alaska                    62
Rhode Island              53
Vermont                   44
District of Columbia      22
Name: STATENAME, dtype: int64

In [118]:
df["MONTHNAME"].value_counts()

August       2268
October      2260
September    2254
July         2211
May          2152
November     2147
June         2124
December     2023
April        1934
January      1907
March        1868
February     1685
Name: MONTHNAME, dtype: int64